@import './base.css';
.main {
  padding: 1rem;
  min-height: 100%;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.p-menuitem-text {
  padding-right: 10px;
}

.p-menuitem-icon {
  padding: 10px;
}

.p-menuitem {
  margin: 0 5px;
}

.p-menubar {
  background: #f2f2f2;
  justify-content: space-between;
  padding-right: 30px;
}

.p-inputtext {
  width: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
